notifications: 
  slack: plurilock1:9Ddic6DYIACEoXXJyilg07j2

language: android 
android: 
  components:  
  - tools 
  - build-tools-23.0.2 
  - android-23
  - extra-android-m2repository
  - sys-img-armeabi-v7a-android-23  

before_script:
  - ./gradlew assembleDebug
  - export ANDROID_HOME=/usr/local/android-sdk
  - echo no | android create avd --force -n test -t android-23 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator

script:
  - ./gradlew connectedAndroidTest 
